.moreInfoParent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92%;
  position: relative;
  a {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 100px;
    height: 35px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.197);
    border-radius: 5px;
    cursor: pointer;
    &.darkTheme {
      background-color: #2B3743;
      color: white;
    }
    i {
      font-size: 14px;
    }
  }
  &.darkTheme {
    background-color: #212E37;
    color: white;
  }
  .moreInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px 15%;

    .leftInfo {
      height: max-content;
      img {
        width: 550px;
        margin-right: 20px;
      }
    }

    .rightInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .rightInfoContent {
        height: 135px;
        display: flex;
        font-size: 20px;
        width: max-content;
        gap: 85px;

        span {
          font-weight: 700;
        }

        .moreLanguages {
          font-weight: 400;
        } 
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .moreInfoParent {
    .moreInfo {
      display: flex;
      align-items: center;
      margin: 0;
      flex-direction: column;

      .rightInfo {
        .rightInfoContent {
          font-size: 18px;
        }
      }

      .leftInfo {
        img {
          width: 400px;
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .moreInfoParent {
    .moreInfo {
      height: 597px;
      justify-content: center;

      .rightInfo {
        .rightInfoContent {
          font-size: 17px;
          flex-direction: column;
          gap: 0;
          width: max-content;
        }
      }

      .leftInfo {
        img {
          width: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .moreInfoParent {
    .moreInfo {
      .rightInfo {
        .rightInfoContent {
          font-size: 15px;
        }
      }

      .leftInfo {
        img {
          width: 250px;
        }
      }
    }
  }
}